<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Credentials.plist.example.plist
   JumuNordost

   Created by Martin Richter on 05/03/16.
   Copyright (c) 2016 Martin Richter. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ApiKey</key>
        <string>INSERT API KEY HERE</string>
    </dict>
</plist>
